@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.woff') format('woff2'),
    url('../fonts/PressStart2P-Regular.woff') format('woff');    
}

.header
.main
.body
.footer {
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    background: rgb(179 121 233 / 0.7);
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    align-self: center;
    color: black;
    font-size: 10vh;
    transition: 0.3s;
}

.header {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 15vh
}

main {
    display: grid;
    /* padding-top: 20px; */
    height: calc(100vh - 15vh);
}

.cards {
    display: grid;
    align-items: center;
    /* gap: 10px; */
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
    padding-left: 30px;
}

.domino {
    display: grid;
    height: 20vh;
    justify-content: center;
}

.domino-svg {
    height: 20vh;
}

.score {
    font-family: 'Press Start 2P', sans-serif;
    color: black;
    text-align: right;
    font-size: min(1.8vw, 1.8vh);
    padding-right: 11vw;
}

.task {
    display: grid;
    position: relative;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.task-container {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
}

.task-svg {
    width: min(30vw, 65vh);
    /* z-index: -1; */
}

.win {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-items: start;

    background-color: transparent;
    border: 0;
    padding-right: 3vw;
    color: black;
}

.win-text {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    transition: 0.4s;
}

.win:hover {
    color: aliceblue;
    cursor: pointer;
}

.loss {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-items: start;
    background-color: transparent;
    border: 0;
    padding-left: 8vw;
    color: black;
}

.loss-text {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    transition: 0.4s;
}

.loss:hover {
    color: aliceblue;
    cursor: pointer;
} 

.domino-button {
    background-color: transparent;
    border: 0;
}

.core {
    transition: fill 0.3s ease 0.05s;
}

.domino-button:hover .domino-svg  {
    --core-color: aliceblue;
    cursor: pointer;
    transform: scale(1.1);
}

.domino-button.is-choosed-first .domino-svg {
    --core-color: #545454;
}

.domino-button.is-choosed-second .domino-svg {
    --core-color: #545454;
}

.domino-button.is-choosed-none .domino-svg {
    --core-color: aliceblue;
}

.task-text {
    position: absolute;
    top: 5vh;
    left: 17vw;
    font-family: 'Press Start 2P', sans-serif;
    color: aliceblue;
    font-size: min(2vh, 2vw);
}

.popup__close {
    width: 35px;
    height: 35px;
    background: transparent url('/images/close.svg') center no-repeat;
    background-size: 35px 35px;
    border: none;
    /* position: absolute; */
    top: -36px;
    right: -34px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: visibility 0s, opacity 0.3s;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .popup__close:hover {
    opacity: 0.6;
  
    visibility: visible;
    opacity: 1;
  }

.popup {
    display: none;
    font-family: 'Press Start 2P', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.popup-text {
    font-size: min(8vh, 8vw);
    color: aliceblue;
}

.popup-text-winner {
    font-size: min(4vh, 4vw)
}

.popup_is-opened {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.6s;
}

.popup_is-animated {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: visibility 0s 0.6s, opacity 0.6s;
}

.button-selection {
    font-family: 'Press Start 2P', sans-serif;
    color: aliceblue;
    font-size: min(2vh, 2vw);
    background: transparent;
    border: aliceblue solid 2px;
    padding: 8px;
    margin: 20px;
    transition: transform 0.4s;
}

.button-selection:hover {
    transform: scale(1.1);
}

.spark-side-menu {
    width: 45px;
}