@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.woff') format('woff2'),
    url('../fonts/PressStart2P-Regular.woff') format('woff');    
}

.header
.main
.body
.footer {
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    background: rgb(179 121 233 / 0.7);
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Press Start 2P';
    align-self: center;
    color: black;
    font-size: 10vh;
    transition: 0.3s;
}

/* h1:hover {
    color: aliceblue;
    cursor: pointer;
} */

.header {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 15vh
}

.menu-icon {
    height: 6vh;
    transition: 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -40%;
    width: 40%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 2;
}

.active-me {
    right: 0%;
}

.active-me .menu-icon  {
    --menu-color: aliceblue;
}

.toggle {
    position: absolute;
    left: -15%;
    right: 4vw;
    top: 4vh;
    background-color: transparent;
    border: 0;
}

.toggle:hover .menu-icon  {
    --menu-color: aliceblue;
    cursor: pointer;
    transform: scale(1.1);
}

.game-list li {
    list-style: none;
}

.game-list li h2 {
    position: relative;
    display: inline-block;
    font-family: 'Press Start 2P';
    color: aliceblue;
    font-size: min(5.5vw, 5.5vh);
    text-transform: uppercase;
    
    padding-left: 30px;
    transition: 0.4s;

}

.game-list li h2:hover {
    letter-spacing: 6px;
    transform: translateX(15px);
}

main {
    display: grid;
    /* padding-top: 20px; */
    height: calc(100vh - 15vh) ;

}

.cards {
    display: grid;
    align-items: center;
    /* gap: 10px; */
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
    padding-left: 30px;
}

.domino {
    display: grid;
    height: 20vh;
    justify-content: center;
}

.domino-svg {
    height: 20vh;
}

.score {
    font-family: 'Press Start 2P';
    color: black;
    text-align: right;
    font-size: min(4vw, 4vh);
    padding-right: 11vw;
}

.task {
    display: grid;
    position: relative;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.task-container {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
}

.task-svg {
    width: min(30vw, 65vh);
    /* z-index: -1; */
}

.win {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-items: start;

    background-color: transparent;
    border: 0;
    padding-right: 3vw;
    color: black;
}

.win-text {
    font-family: 'Press Start 2P';
    font-size: 18px;
    transition: 0.4s;
}

.win:hover {
    color: aliceblue;
    cursor: pointer;
}

.loss {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-items: start;
    background-color: transparent;
    border: 0;
    padding-left: 8vw;
    color: black;
}

.loss-text {
    font-family: 'Press Start 2P';
    font-size: 18px;
    transition: 0.4s;
}

.loss:hover {
    color: aliceblue;
    cursor: pointer;
} 

.domino-button {
    background-color: transparent;
    border: 0;
}

.core {
    transition: fill 0.3s ease 0.05s;
}

.domino-button:hover .domino-svg  {
    --core-color: aliceblue;
    cursor: pointer;
    transform: scale(1.1);
}

.domino-button.is-choosed .domino-svg {
    --core-color: aliceblue;
}

.task-text {
    position: absolute;
    top: 5vh;
    left: 15vw;
    font-family: 'Press Start 2P';
    color: aliceblue;
    font-size: min(2vh, 2vw);
}
